body{
    background-image: url('https://wallpapercave.com/wp/wp4141018.jpg');
width: fixed;
image-resolution: 120px ;}
#string {
    background-color: rgba(255, 255, 255, 0.288); /* Use rgba for transparency */
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 5px 5px 5px;
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: rgba(233, 230, 230, 0.007);
    border-radius: 12px;
    border: 1px solid rgb(173, 6, 6);
    position: relative;
}

button{
background-color: green;
border: none;
color : white;
padding: 15px 32px;
text-align: center;
text-decoration: dashed;
display: inline-block;
font-size: 16px;
font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
img{
    width: 100%;
}